In [1]:
import pandas as pd
import numpy as np
import seaborn as se
from sklearn.svm import SVR
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.linear_model import BayesianRidge, LinearRegression
from sklearn.model_selection import KFold, cross_val_score

%matplotlib inline

In [2]:
data = pd.read_csv('Data/clean/Cheal-A10_Clean.csv')
data.head()

,wellName,datasetName,DEPT,BS,CALI,DENS,DRHO,DTC,GR,NEUT,PEF,RESD,RESM,RESS,SP,TVD
0,NaN,NaN,M,INCH,INCH,G/CC,G/CC,US/F,API,V/V,B/E,OHMM,OHMM,OHMM,mV,m
1,Cheal-A10,Clean,83.363,12.25,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
2,Cheal-A10,Clean,83.515,12.25,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
3,Cheal-A10,Clean,83.668,12.25,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
4,Cheal-A10,Clean,83.82,12.25,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9798 entries, 0 to 9797
Data columns (total 16 columns):
wellName       9797 non-null object
datasetName    9797 non-null object
DEPT           9798 non-null object
BS             9798 non-null object
CALI           9798 non-null object
DENS           9798 non-null object
DRHO           9798 non-null object
DTC            9798 non-null object
GR             9798 non-null object
NEUT           9798 non-null object
PEF            9798 non-null object
RESD           9798 non-null object
RESM           9798 non-null object
RESS           9798 non-null object
SP             9798 non-null object
TVD            9798 non-null object
dtypes: object(16)
memory usage: 1.2+ MB

In [4]:
data = data[1:]

data.head()

,wellName,datasetName,DEPT,BS,CALI,DENS,DRHO,DTC,GR,NEUT,PEF,RESD,RESM,RESS,SP,TVD
1,Cheal-A10,Clean,83.363,12.25,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
2,Cheal-A10,Clean,83.515,12.25,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
3,Cheal-A10,Clean,83.668,12.25,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
4,Cheal-A10,Clean,83.82,12.25,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
5,Cheal-A10,Clean,83.972,12.25,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [8]:
x = data[['DEPT', 'BS', 'CALI', 'DENS', 'DRHO', 'GR', 'NEUT', 'PEF', 'RESD', 'RESM', 'RESS', 'SP', 'TVD']]
y = data['DTC']

In [10]:
# Creating the folds - not really used in our example
k_fold = KFold(n_splits=5)
for train_indices, test_indices in k_fold.split(x):
     print('Train: %s | test: %s' % (train_indices, test_indices))

Train: [1960 1961 1962 ... 9794 9795 9796] | test: [   0    1    2 ... 1957 1958 1959]
Train: [   0    1    2 ... 9794 9795 9796] | test: [1960 1961 1962 ... 3917 3918 3919]
Train: [   0    1    2 ... 9794 9795 9796] | test: [3920 3921 3922 ... 5876 5877 5878]
Train: [   0    1    2 ... 9794 9795 9796] | test: [5879 5880 5881 ... 7835 7836 7837]
Train: [   0    1    2 ... 7835 7836 7837] | test: [7838 7839 7840 ... 9794 9795 9796]

# Benchmarking our regressors

In [18]:
names = ["Support Victor Regressor", "Bayesian Ridge Regressor", "Linear Regressor"]

classifiers = [
    SVR(kernel='linear', C=1e3),
    BayesianRidge(compute_score=True),
    LinearRegression()]

k_fold = 2

# Benchmarking
for model, name in zip(classifiers, names):
    print(name, cross_val_score(model, x, y, cv=k_fold, n_jobs=7))

Support Victor Regressor [-1.37754743e+04 -5.52557088e+00]
Bayesian Ridge Regressor [-51.97547613   0.99994515]
Linear Regressor [-51.43000125   0.9999453 ]